<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Bootstrap demo</title>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
            crossorigin="anonymous"
        />

        <style>
            .breadcrumb-item a {
                color: white;
                text-decoration: none;
            }

            .btn-go-top {
                position: fixed;
                width: 40px;
                height: 40px;
                bottom: 40px;
                right: 50px;
                line-height: 40px;
                border-radius: 5px;
                background: #868e96;
                text-decoration: none;
                text-align: center;
                font-size: 22px;
                color: white;
                z-index: 3;
            }
        </style>
    </head>

    <body>
        <!-- logo -->
        <nav class="navbar navbar-expand-lg bg-white p-3 fw">
            <div class="container">
                <a class="navbar-brand" href="#"
                    ><img
                        src="https://www.hanagroup.com/images/Hanalogo.jpg"
                        alt=""
                        width="auto"
                /></a>
                <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item dropdown">
                            <a
                                class="nav-link mx-2 dropdown-toggle"
                                href="#"
                                id="navbarDropdownMenuLink"
                                role="button"
                                data-bs-toggle="dropdown"
                                aria-expanded="false"
                            >
                                About Us
                            </a>
                            <ul
                                class="dropdown-menu"
                                aria-labelledby="navbarDropdownMenuLink"
                            >
                                <li>
                                    <a class="dropdown-item" href="#">Blog</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#"
                                        >About Us</a
                                    >
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#"
                                        >Contact us</a
                                    >
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a
                                class="nav-link mx-2 dropdown-toggle"
                                href="#"
                                id="navbarDropdownMenuLink"
                                role="button"
                                data-bs-toggle="dropdown"
                                aria-expanded="false"
                            >
                                Worldwide Manufacturing
                            </a>
                            <ul
                                class="dropdown-menu"
                                aria-labelledby="navbarDropdownMenuLink"
                            >
                                <li>
                                    <a class="dropdown-item" href="#">Blog</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#"
                                        >About Us</a
                                    >
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#"
                                        >Contact us</a
                                    >
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a
                                class="nav-link mx-2 dropdown-toggle"
                                href="#"
                                id="navbarDropdownMenuLink"
                                role="button"
                                data-bs-toggle="dropdown"
                                aria-expanded="false"
                            >
                                Investor Relations
                            </a>
                            <ul
                                class="dropdown-menu"
                                aria-labelledby="navbarDropdownMenuLink"
                            >
                                <li>
                                    <a class="dropdown-item" href="#">Blog</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#"
                                        >About Us</a
                                    >
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#"
                                        >Contact us</a
                                    >
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a
                                class="nav-link mx-2 active"
                                aria-current="page"
                                href="#"
                                >Career</a
                            >
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mx-2" href="#">Contact Us</a>
                        </li>
                        <form class="d-flex">
                            <input
                                class="form-control me-2"
                                type="search"
                                placeholder="Search"
                                aria-label="Search"
                            />
                            <button
                                class="btn btn-outline-success"
                                type="submit"
                            >
                                Search
                            </button>
                        </form>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- tab -->
        <div
            class="container-fluid bg-secondary p-1 d-flex align-items-center"
            style="height: 50px"
        >
            <div class="container">
                <nav
                    style="--bs-breadcrumb-divider: '>'"
                    aria-label="breadcrumb"
                >
                    <ol class="breadcrumb mb-0 fs-5">
                        <li class="breadcrumb-item active">
                            <a href="#">Home</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="#">Ayutthaya</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="#">Overview</a>
                        </li>
                    </ol>
                </nav>
            </div>
        </div>

        <!-- footer -->
        <footer
            class="container-fluid bg-secondary text-white border-top footer"
        >
            <br />
            <div class="container menu">
                <div class="row">
                    <div class="col-6 col-md">
                        <p class="text-light left-border-w">About Us</p>
                        <ul class="list-unstyled text-small text-white">
                            <li>
                                <a
                                    class="text-muted"
                                    href="/AboutUs/CompanyProfile"
                                    target="_self"
                                    >Company Profile</a
                                >
                            </li>
                            <li>
                                <a
                                    class="text-muted"
                                    href="/AboutUs/VisionMission"
                                    target="_self"
                                    >Vision &amp; Mission</a
                                >
                            </li>
                            <li>
                                <a
                                    class="text-muted"
                                    href="/AboutUs/History"
                                    target="_self"
                                    >History</a
                                >
                            </li>
                            <li class="text-muted">
                                Board &amp; Executive
                                <ul
                                    class="text-small"
                                    style="list-style-type: none"
                                >
                                    <li>
                                        <a
                                            class="text-muted"
                                            href="/AboutUs/Directors"
                                            target="_self"
                                            >Board of Directors</a
                                        >
                                    </li>
                                    <li>
                                        <a
                                            class="text-muted"
                                            href="/AboutUs/Executives"
                                            target="_self"
                                            >Executives</a
                                        >
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a
                                    class="text-muted"
                                    href="/AboutUs/Awards"
                                    target="_self"
                                    >Awards</a
                                >
                            </li>
                            <li>
                                <a
                                    class="text-muted"
                                    href="/AboutUs/Privacy"
                                    target="_self"
                                    >Privacy Policy (PDPA)</a
                                >
                            </li>
                        </ul>
                    </div>
                    <div class="col-6 col-md">
                        <p class="text-light left-border-w">
                            Worldwide Manufacturing
                        </p>
                        <ul class="list-unstyled text-small">
                            <li>
                                <a
                                    class="text-muted"
                                    href="/Manufacturing/Bkk"
                                    target="_self"
                                    >Headquarters</a
                                >
                            </li>
                            <li>
                                <a
                                    class="text-muted"
                                    href="/Manufacturing/Lpn"
                                    target="_self"
                                    >Lamphun</a
                                >
                            </li>
                            <li>
                                <a
                                    class="text-muted"
                                    href="/Manufacturing/Ayt"
                                    target="_self"
                                    >Ayutthaya</a
                                >
                            </li>
                            <li>
                                <a
                                    class="text-muted"
                                    href="/Manufacturing/Jx"
                                    target="_self"
                                    >Jiaxing</a
                                >
                            </li>
                            <li>
                                <a
                                    class="text-muted"
                                    href="/Manufacturing/Ohio"
                                    target="_self"
                                    >Ohio</a
                                >
                            </li>
                            <li>
                                <a
                                    class="text-muted"
                                    href="/Manufacturing/Kk"
                                    target="_self"
                                    >Cambodia</a
                                >
                            </li>
                        </ul>
                    </div>
                    <div class="col-6 col-md">
                        <p class="text-light left-border-w">
                            Investor Relations
                        </p>
                        <ul class="list-unstyled text-small">
                            <li>
                                <a
                                    class="text-muted"
                                    href="/Investor/PressReleases"
                                    target="_self"
                                    >Press Releases</a
                                >
                            </li>
                            <li>
                                <a
                                    class="text-muted"
                                    href="/Investor/FinancialInfo"
                                    target="_self"
                                    >Financial Information</a
                                >
                            </li>
                            <li>
                                <a
                                    class="text-muted"
                                    href="/Investor/GroupStructure"
                                    target="_blank"
                                    >Group Structure</a
                                >
                            </li>
                            <li>
                                <a
                                    class="text-muted"
                                    href="/Investor/Shareholding"
                                    target="_blank"
                                    >Major Shareholders</a
                                >
                            </li>
                            <li class="text-muted">
                                Sustainable Development
                                <ul
                                    class="text-small"
                                    style="list-style-type: none"
                                >
                                    <li>
                                        <a
                                            class="text-muted"
                                            href="/Investor/Sustainability"
                                            target="_self"
                                            >Sustainability</a
                                        >
                                    </li>
                                    <li class="text-muted">
                                        Corporate Governance
                                        <ul
                                            class="text-small"
                                            style="list-style-type: none"
                                        >
                                            <li>
                                                <a
                                                    class="text-muted"
                                                    href="/Investor/Article"
                                                    target="_blank"
                                                    >Article of Association</a
                                                >
                                            </li>
                                            <li>
                                                <a
                                                    class="text-muted"
                                                    href="/Investor/Charters"
                                                    target="_self"
                                                    >Charters of Board and
                                                    Committees</a
                                                >
                                            </li>
                                            <li>
                                                <a
                                                    class="text-muted"
                                                    href="/Investor/CGrelated"
                                                    target="_self"
                                                    >CG related policies</a
                                                >
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a
                                            class="text-muted"
                                            href="/Investor/AntiCorruption"
                                            target="_self"
                                            >Anti-Corruption</a
                                        >
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a
                                    class="text-muted"
                                    href="/Investor/SETNews"
                                    target="_self"
                                    >SET News</a
                                >
                            </li>
                            <li class="text-muted">
                                Annual Report
                                <ul
                                    class="text-small"
                                    style="list-style-type: none"
                                >
                                    <li>
                                        <a
                                            class="text-muted"
                                            href="/Investor/Annual"
                                            target="_self"
                                            >Annual Report</a
                                        >
                                    </li>
                                    <li>
                                        <a
                                            class="text-muted"
                                            href="/Investor/Report"
                                            target="_self"
                                            >56-1 Report (Thai)</a
                                        >
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a
                                    class="text-muted"
                                    href="/Investor/Stock"
                                    target="_blank"
                                    >Stock Information</a
                                >
                            </li>
                            <li>
                                <a
                                    class="text-muted"
                                    href="/Investor/IRContact"
                                    target="_self"
                                    >IR Contact</a
                                >
                            </li>
                        </ul>
                    </div>
                    <div class="col-6 col-md">
                        <p class="text-light left-border-w">
                            <a class="text-light" href="/Career">Career</a>
                        </p>
                    </div>
                    <div class="col-6 col-md">
                        <p class="text-light left-border-w">
                            <a class="text-light" href="/Contact">Contact Us</a>
                        </p>
                    </div>
                </div>
            </div>
            <hr />
            <div class="container">
                <p class="text-light" style="text-align: center">
                    © Copyright 2025 Hana Microelectronics Public Co., Ltd. All
                    rights reserved.
                </p>
            </div>

            <a href="#" class="btn-go-top">
                <svg
                    class="svg-inline--fa fa-arrow-alt-circle-up fa-w-16"
                    aria-hidden="true"
                    focusable="false"
                    data-prefix="far"
                    data-icon="arrow-alt-circle-up"
                    role="img"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 512 512"
                >
                    <path
                        fill="currentColor"
                        d="M256 504c137 0 248-111 248-248S393 8 256 8 8 119 8 256s111 248 248 248zm0-448c110.5 0 200 89.5 200 200s-89.5 200-200 200S56 366.5 56 256 145.5 56 256 56zm20 328h-40c-6.6 0-12-5.4-12-12V256h-67c-10.7 0-16-12.9-8.5-20.5l99-99c4.7-4.7 12.3-4.7 17 0l99 99c7.6 7.6 2.2 20.5-8.5 20.5h-67v116c0 6.6-5.4 12-12 12z"
                    ></path>
                </svg>
            </a>
        </footer>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
            integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
